{% extends 'cards/index.html.twig' %}

{% block title %}Error{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            ERROR : CANNOT PARSE RESPONSE.
        </div>
    </div>
{% endblock %}