<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Cards</li>
            <li class="breadcrumb-item active" aria-current="page">Test</li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ exerciseId }}</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card row border-success mb-3">
                <div class="card-header bg-success text-white">Result :</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Status : {{ status }}</h5>
                    <p class="card-text">
                {% if (status == 200) %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Success</h4>
                        <p>The solution is correct :)</p>
                    </div>
                {% elseif (status == 406) %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error</h4>
                        <p>The solution is wrong :(</p>
                    </div>
                {% else %}
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">Error</h4>
                        <p>Unhandled error occurred while fetching result</p>
                    </div>
                {% endif %}
                <hr>
                <p class="mb-0"><a href="{{ path('sort_cards') }}">Replay</a></p>
                </p>
            </div>
        </div>
    </div>
</div>
</div
